{% load static %}
<!--footer start-->
 <div class="row mt-3 bg-light">
    <div class="col-md-4">
      <h5>Address</h5>
      <hr>
      2nd, floor,landmark building<br>
      Near FC Road<br>
      Shivaji Nagar -Pune<br> <br>
      <p>
        <i class="bi bi-telephone-fill text-primary"></i> 123654789
      </p>
      <p>
        <i class="bi bi-envelope-at-fill text-primary"></i> mail@gmail.com
      </p>

    </div> <!--Address end-->
    <div class="col-md-4">
      <h5>Quick Links</h5>
      <hr>
      <p><a href="/" class="anchor">Home</a></p>
      <p><a href="/about" class="anchor">About Us</a></p>
      <p><a href="/viewcart" class="anchor">Cart</a></p>
      <p><a href="/contact" class="anchor">Contact Us</a></p>
    </div> <!--quick link end-->
    <div class="col-md-4">
      <h5>Contact us</h5>
      <hr>
      <h5><a href="http://www.facebook.com"><i class="bi bi-facebook"></i></a></h5>
      <h5><a href="http://www.twitter.com"><i class="bi bi-twitter"></i></a></h5>
      <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin"></i></a></h5>
      <h5><a href="http://www.instagram.com"><i class="bi bi-instagram"></i></a></h5>
    </div> <!--contact end-->
  </div>
</div> <!--container end-->
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script> 
</body>
</html>